

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


.footer {
    padding-top: 5vh;
    background-color: #130000;;
    border-top: #4646467a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    
  }


.card {
    background-color: #6161613d;
}

