* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

:root{
    background-color: #191919;
    font-family: 'Times New Roman', Times, serif;
}


body {
    background-color: #191919;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.search-form {
    margin: 20px 20px;
  }
  
  .searchbox {
    padding: 10px 20px;
    background-color: var(--text-color);
    max-width: 480px;
    margin: 0px auto;
    border-radius: 3px;
  }
  
  .search {
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1rem;
  }
  
  .search:focus {
    outline: none;
  }


.iconWeather {
    width: 50px;
}
.cards-clima {
    background-color: grey;
    background: grey;
}

.footer {
    padding-top: 5vh;
    background-color: #191919;;
    border-top: #4646467a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    
  }

.weatherContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

.temperature {
    font-size: 15px;

}

.icon {
    width: 50px !important;
}